
@font-face {
    font-family: "is";
    src: url("../Fonts/IRANSansWeb.woff") format("woff"),
      url("../Fonts/IRANSansWeb.ttf") format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "is";
    src: url("../Fonts/IRANSansWeb_Bold.woff") format("woff"),
      url("../Fonts/IRANSansWeb_Bold.ttf") format("truetype");
    font-weight: bold;
  }
    body {
    font-family: 'is', sans-serif;
  }